@import "Variables";
// Buttons.scss

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	
	border: 1px solid $default-border;
	border-radius: 4px;

    + .default {
	   color: $default !important;
	   background-color: $color-white !important;
	   border-color: $default-border !important;

        &:hover,
        &:active {
            color: $default !important;
            border-color: $default-active-border !important;
        }
    }
        
    + .success {
	   color: $color-white !important;
	   background-color: $success !important;
	   border-color: $success-border !important;
    
        &:hover,
        &:active {
            color: $color-white !important;
            background-color: $success-active !important;
	       border-color: $success-active-border !important;
        }
    }
    
    + .error {
	   color: $color-white !important;
	   background-color: $error !important;
	   border-color: $error-border !important;

        &:hover,
        &:active {
            color: $color-white !important;
            background-color: $error-active !important;
            border-color: $error-active-border !important;
        }
    }
    
    + .info {
	   color: $color-white !important;
	   background-color: $info !important;
	   border-color: $info-border !important;

        &:hover,
        &:active {
            color: $color-white !important;
            background-color: $info-active !important;
	        border-color: $info-active-border !important;
        }
    }
    
    + .warn {
	   color: $color-white !important;
	   background-color: $warn !important;
	   border-color: $warn-border !important;
    
        &:hover,
        &:active {
            color: $color-white !important;
            background-color: $warn-active !important;
            border-color: $warn-active-border !important;
        }
    }
    
    + .dark {
	   color: $color-white !important;
	   background-color: $dark !important;
	   border-color: $dark-border !important;

        &:hover,
        &:active {
            color: $color-white !important;
            background-color: $dark-active !important;
            border-color: $dark-active-border !important;
        }
    }
}