@import "Variables";
// Image.scss

.img {
    margin: 0;
}

.responsive {
    width: 100% \9;
    max-width: 100%;
    height: auto;
}

.thumbnail {
    width: 100% \9;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height   : 1.42857143;
    background-color: $color-white;
    border: 1px solid $color-grey;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}

.round {
    border-radius: 30%;
}

.circle {
    border-radius: 50%;
}