.layout
    display: flex
    min-height: 100%

    .sidebar
        flex: 1
        min-width: 300px
        max-width: 300px
        width: 300px
        border-right: 1px solid #eee
        min-height: 100%

    .content
        flex: 2
        width: 100%
        padding: 2em 2em 0