body {
    font-family: $font-default;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #FFF;
    color: $default;
    margin: 0;
}

.container, main {
    width: inherit;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px; 
    padding-right: 35px;
}

@media (max-width: $width) {
    .container, main {
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px; 
        padding-right: 10px;
    }
}

.title {
    h1,h2,h3,h4,h5,h6 {
        margin: 5px 0;
    }
}

.footer, footer {
    margin: 15px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.hidden {   display:none; }
.left {     float:left; }
.right {    float:right; }

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid darken($light, 5);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    
    td, th {
        padding: 0;
    }
}

.dismiss {
    float: right;
    position: relative;
    right: 0;
    cursor: pointer;
}

.center {
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    position:absolute;
    left:50%;
    top:50%;
}