/*  Grid
    Made by gratimax */

$sz: 12;
$box-margin: 1/80 * 100%;
$number-boxes: 12;
$base-box-width: 7 / 120 * 100%;

.row {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.box {
    float: left;
    margin-left: $box-margin;
    margin-right: $box-margin;
}

@media (max-width: $breakpoint-width) {
    .box {
        width: 100% !important; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        display: block;
        float: none;
    }
}

@for $i from 1 through $sz {
  .box.col-#{$i}{
    width: $base-box-width * $i + $box-margin * 2 * ($i - 1);
  }
}