.breadcrumbs, .crumbs {
    @include border-radius;
    background-color: darken($light, 5);
    padding: 10px 15px;
    margin-bottom: 10px;
}

.nav {
    background-color: $light;
    margin-bottom: 10px;
    border: 1px solid darken($light, 5);
    @include border-radius();

    ul {
        background-color: $light;
    }
}

.nav.bar {

    ul {
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0;

        &.open {
            > li {
                display: block;
            }
        }
    }

    li {
        position: relative;
        text-decoration: none;
        line-height: 20px;
        color: $default;
        vertical-align: middle;

        @include inline-block();

        @media (max-width: $breakpoint-width) {
            display: none;
        }
        
        .active {
            background-color: darken($light, 5);
        }

        &:hover, 
        &:active {
            background-color: darken($light, 5);
        }

        &.dropdown-hover{
            &:hover {
                > ul {
                    display: block;
    
                    @media (max-width: $breakpoint-width) {
                        display: none;
                    }
                }
            }

            > ul.open {
                display: block;
            }
        }

        a {
            display: block;
            padding: 10px 20px;
            white-space: nowrap;
            color: inherit;
        }

        > ul {
            display: none;
            position: absolute;
            top: 100%;
            min-width: 150px;
            z-index: 2;
            border-left: 1px solid darken($light, 5);
            border-bottom: 1px solid darken($light, 5);
            border-right: 1px solid darken($light, 5);
            @include border-radius-bottom();

            @media (max-width: $breakpoint-width) {
                position: relative;
                top: 0;
                width: 100%;
            }

            &.open {
                display: block;

                li {
                    @media (max-width: $breakpoint-width) {
                        padding-left: 25px;
                    }
                }
            }

            li {
                display: block;
            }
        }
    }

    .collapse {
        display: none;

        @media (max-width: $breakpoint-width) {
            display: block;            
        }

        &:hover,
        &:active {
            background-color: darken($light, 5);
            cursor: pointer;
        }
    }
}

.bar.dark {
    background-color: $dark;
    border-color: darken($dark, 5);
    color: $white;
    
    .collapse {
        &:hover,
        &:active {
            background-color: darken($dark, 5);
            cursor: pointer;
        }
    }

    ul {
        background-color: $dark;
    }
    
    li {
        color: $white;
        
        .active {
            background-color: darken($dark, 5);
        }
        
        &:hover,
        &:active {
            background-color: darken($dark, 5);
        }
        
        > ul {
            border-left: 1px solid darken($dark, 5);
            border-bottom: 1px solid darken($dark, 5);
            border-right: 1px solid darken($dark, 5);
            @include border-radius-bottom();
        }
    }
}

.nav.page {
    @include inline-block();
    @include border-radius();

    li {
        @include inline-block();
        text-decoration: none;
        padding: 10px 20px;
        line-height: 20px;
        color: $default;
        
        &:hover, 
        &:active {
            background-color: darken($light, 5);
        }
        
        a {
            text-decoration: none;
            display: block;
        }
    }
}

.collapse {
    padding: 10px 20px;
    line-height: 20px;
    
    &:hover,
    &:active{
        background-color: $light;
    }
    
    li {
        @include inline-block();
    }
}