.breadcrumbs, .crumbs {
    @include border-radius;
    background-color: darken($light, 5);
    padding: 10px 15px;
}

.nav {
    background-color: $light;
    border: 1px solid darken($light, 5);
    @include border-radius;
    max-height: 50px;
}

.nav.bar {
    
    .collapse {
        &:hover,
        &:active {
            background-color: darken($light, 5);
            cursor: pointer;
        }
    }

    li {
        display: block;
        text-decoration: none;
        width: inherit;
        padding: 10px 20px;
        line-height: 20px;
        color: $default;
        margin-right: -5px;
        
        .active {
            background-color: darken($light, 5);
        }

        &:hover, 
        &:active {
            background-color: darken($light, 5);
        }
    }
}

.bar.dark {
    background-color: $dark;
    border-color: darken($dark, 5);
    color: white;
    
    .collapse {
        &:hover,
        &:active {
            background-color: darken($dark, 5);
            cursor: pointer;
        }
    }
    
    li {
        color: white;
        
        .active {
            background-color: darken($dark, 5);
        }
        
        &:hover,
        &:active {
            background-color: darken($dark, 5);
        }
    }
}

.nav.page {
  display: inline-block;
  @include border-radius;

    li {
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        line-height: 20px;
        color: $default;
        
        &:hover, 
        &:active {
            background-color: darken($light, 5);
        }
        
        a {
            text-decoration: none;
            display: block;
        }
    }
}

.collapse {
    padding: 10px 20px;
    line-height: 20px;
    
    &:hover,
    &:active{
        background-color: $light;
    }
    
    li {
        display: inline-block;
    }
}