.alert {
    display: block;
    @include border-radius;
    vertical-align: middle;
    padding: 20px;
    margin-bottom: 10px;
    
    color: $default;
    border: 1px solid darken($light, 5);
    background: $light;
}

.alert.default {
    color: $default;
    border: 1px solid darken($light, 5);
    background: $light;
}

.alert.success {
    color: white;
    border: darken($success, 5);
    background: lighten($success, 5);
}

.alert.error {
    color: white;
    border: darken($error, 5);
    background: lighten($error, 5);
}

.alert.warn {
    color: white;
    border: darken($warn, 5);
    background: lighten($warn, 5);
}

.alert.info {
    color: white;
    border: darken($info, 5);
    background: lighten($info, 5);
}

.alert.dark {
    color: white;
    border: darken($dark, 5);
    background: lighten($dark, 5);
}