body {
    font-family: $font-default;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #FFF;
    color: $default;
    margin: 0;
}

.container, main {
    width: inherit;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px; 
    padding-right: 35px;
}

@media (max-width: $width) {
    .container, main {
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px; 
        padding-right: 10px;
    }
}

.footer, footer {
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.hidden {   display:none; }
.left {     float:left; }
.right {    float:right; }

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid darken($light, 5);
}

.code, code {
    font-family: $font-code;
    color: $default;
    background-color: $light;
    border: 1px solid darken($light, 5);
    @include border-radius;
    padding: 10px;
    width: auto;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    
    td, th {
        padding: 0;
    }
}