.img, img {
    margin: 0;
}

.thumbnail {
    height: auto;
    padding: 4px;
    line-height: 1.42;
    background-color: white;
    border: 1px solid darken($light, 5);
    border-radius: 4px;
}

.round {
    border-radius: 10%;
}

.circle {
    border-radius: 50%;
}