.progress {
    width: 100%;
    height: 30px;
    border: 1px solid darken($light, 5);
    @include border-radius;
    background-color: $light;
    display: block;
    @include margin-bottom;
}

.progress-bar {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: $info;
    text-align: center;
    line-height: 20px;
    color: white;
    height: 30px;
    color: $default;
}

#progress {
    position: relative;
    top: 5px;
}

.progress.default {
    border: 1px solid darken($light, 5);
    background-color: $light;
    
    .progress-bar {
        color: $default;
        background-color: darken($light, 5);
    }
}

.progress.success {
    border: 1px solid darken($success, 5);
    background-color: $light;
    
    .progress-bar {
        color: white;
        background-color: $success;
    }
}

.progress.error {
    border: 1px solid darken($error, 5);
    background-color: $light;
    
    .progress-bar {
        color: white;
        background-color: $error;
    }
}

.progress.warn {
    border: 1px solid darken($warn, 5);
    background-color: $light;
    
    .progress-bar {
        color: white;
        background-color: $warn;
    }
}

.progress.info {
    border: 1px solid darken($info, 5);
    background-color: $light;
    
    .progress-bar {
        color: white;
        background-color: $info;
    }
}

.progress.dark {
    border: 1px solid darken($dark, 5);
    background-color: $light;
    
    .progress-bar {
        color: white;
        background-color: $dark;
    }
}