/*  Framework by Caramel.ga - License: CC-NC 3.0-AU */
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600";
@import "http://fonts.googleapis.com/css?family=Anonymous+Pro";
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  background-color: #FFF;
  color: #5F5F5F;
  margin: 0; }

.container, main {
  width: inherit;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 35px; }

@media (max-width: 800px) {
  .container, main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; } }
.footer, footer {
  margin-top: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%; }

.hidden {
  display: none; }

.left {
  float: left; }

.right {
  float: right; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ededed; }

.code, code {
  font-family: "Anonymous Pro", Monospace;
  color: #5F5F5F;
  background-color: #FAFAFA;
  border: 1px solid #ededed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  width: auto; }

table {
  border-spacing: 0;
  border-collapse: collapse; }
  table td, table th {
    padding: 0; }

.alert {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
  padding: 20px;
  margin-bottom: 10px;
  color: #5F5F5F;
  border: 1px solid #ededed;
  background: #FAFAFA; }

.alert.default {
  color: #5F5F5F;
  border: 1px solid #ededed;
  background: #FAFAFA; }

.alert.success {
  color: white;
  border: #4cae4c;
  background: #6ec06e; }

.alert.error {
  color: white;
  border: #d43f3a;
  background: #de6764; }

.alert.warn {
  color: white;
  border: #eea236;
  background: #f2b866; }

.alert.info {
  color: white;
  border: #3daed1;
  background: #67c0db; }

.alert.dark {
  color: white;
  border: #454545;
  background: #5f5f5f; }

.btn {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 5px;
  line-height: 1.42;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #5F5F5F;
  border: 1px solid #ededed;
  background: #FAFAFA; }
  .btn:hover, .btn:active {
    border: 1px solid #ededed;
    background: #ededed; }

.btn.sml {
  padding: 5px 7px;
  font-size: 10px; }

.btn.default {
  color: #5F5F5F;
  border: 1px solid #ededed;
  background: #FAFAFA; }
  .btn.default:hover, .btn.default:active {
    border: 1px solid #FAFAFA;
    background: #ededed; }

.btn.success {
  color: white;
  border: 1px solid #4cae4c;
  background: #5CB85C; }
  .btn.success:hover, .btn.success:active {
    border: 1px solid #5CB85C;
    background: #6ec06e; }

.btn.error {
  color: white;
  border: 1px solid #d43f3a;
  background: #D9534F; }
  .btn.error:hover, .btn.error:active {
    border: 1px solid #D9534F;
    background: #de6764; }

.btn.warn {
  color: white;
  border: 1px solid #eea236;
  background: #F0AD4E; }
  .btn.warn:hover, .btn.warn:active {
    border: 1px solid #F0AD4E;
    background: #f2b866; }

.btn.info {
  color: white;
  border: 1px solid #3daed1;
  background: #52B7D6; }
  .btn.info:hover, .btn.info:active {
    border: 1px solid #52B7D6;
    background: #67c0db; }

.btn.dark {
  color: white;
  border: 1px solid #454545;
  background: #525252; }
  .btn.dark:hover, .btn.dark:active {
    border: 1px solid #525252;
    background: #454545; }

.dropdown {
  cursor: pointer; }

input {
  font: inherit; }

input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  background: white;
  border: 1px solid #ededed;
  color: inherit;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  min-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  line-height: 1.42;
  vertical-align: middle;
  border-radius: 4px; }

input[type=submit] {
  border: none; }

textarea {
  background: white;
  border: 1px solid #ededed;
  color: inherit;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  min-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  line-height: 1.42;
  vertical-align: middle;
  border-radius: 4px; }

/*  Grid
    Made by gratimax */
.row:before, .row:after {
  content: " ";
  display: table; }
.row:after {
  clear: both; }

.box {
  display: inline-block;
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%; }

@media (max-width: 800px) {
  .box {
    margin-bottom: 5px;
    display: block;
    float: none; } }
.box.col-1 {
  width: 5.83333%; }

.box.col-2 {
  width: 14.16667%; }

.box.col-3 {
  width: 22.5%; }

.box.col-4 {
  width: 30.83333%; }

.box.col-5 {
  width: 39.16667%; }

.box.col-6 {
  width: 47.5%; }

.box.col-7 {
  width: 55.83333%; }

.box.col-8 {
  width: 64.16667%; }

.box.col-9 {
  width: 72.5%; }

.box.col-10 {
  width: 80.83333%; }

.box.col-11 {
  width: 89.16667%; }

.box.col-12 {
  width: 97.5%; }

@media (max-width: 800px) {
  .box {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto; } }
.img, img {
  margin: 0; }

.thumbnail {
  height: auto;
  padding: 4px;
  line-height: 1.42;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 4px; }

.round {
  border-radius: 10%; }

.circle {
  border-radius: 50%; }

.nav {
  background-color: #FAFAFA;
  border: 1px solid #ededed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  max-height: 50px; }

.nav.bar li {
  display: block;
  text-decoration: none;
  width: inherit;
  padding: 10px 20px;
  line-height: 20px;
  color: #5F5F5F;
  margin-right: -5px; }
  .nav.bar li:hover, .nav.bar li:active {
    background-color: #ededed; }

.collapse {
  padding: 10px 20px;
  line-height: 20px; }
  .collapse:hover, .collapse:active {
    background-color: #FAFAFA; }
  .collapse li {
    display: inline-block; }

.nav.page {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .nav.page li {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: -5px;
    line-height: 20px;
    color: #5F5F5F; }
    .nav.page li:hover, .nav.page li:active {
      background-color: #ededed; }
    .nav.page li a {
      text-decoration: none;
      display: block; }

.bar.dark {
  background-color: #525252;
  border-color: #454545;
  color: white; }
  .bar.dark .collapse:hover, .bar.dark .collapse:active {
    background-color: #454545; }
  .bar.dark li {
    color: white; }
    .bar.dark li:hover, .bar.dark li:active {
      background-color: #454545; }

a {
  color: #52B7D6;
  text-decoration: none; }
  a:hover, a:focus {
    color: #67c0db;
    text-decoration: none; }

.disabled {
  color: #5F5F5F;
  cursor: not-allowed; }

.color.success, *[color=success] {
  color: #5CB85C; }

.color.error, *[color=error] {
  color: #D9534F; }

.color.info, *[color=info] {
  color: #52B7D6; }

.color.warn, *[color=warn] {
  color: #F0AD4E; }

.color.dark, *[color=dark] {
  color: #525252; }

.color.light, *[color=light] {
  color: #FAFAFA; }

b, bold, strong {
  font-weight: bold; }

i, italic, .italic {
  font-style: italic; }

.sml, small {
  font-size: 80%; }

s, strike, .strike {
  text-decoration: line-through; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

p {
  margin: 0 0 10px; }
