.center {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    
    min-width: 600px;
}

@media (max-width: 800px) {
    .center {
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        position: inherit;
        top: inherit;
        left: inherit;
    }
}

.header {
    font-size: 50px;
}

.sub-header {
    font-size: 30px;
}

.code {
    padding: 10px 20px;
}