@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after { clear: both; }
}

@mixin inline-block() {
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

@mixin standard-padding() {
    padding: 5px 14px;
}

@mixin bottom-margin() {
    margin-bottom: 10px;
}

@mixin no-default-appearance() {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

@mixin border-radius($radius: $default-radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;

}

@mixin border-radius-top($radius: $default-radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius:$radius;
    -moz-border-top-left-radius:    $radius;
    -moz-border-top-right-radius:   $radius;
    -ms-border-top-left-radius:     $radius;
    -ms-border-top-right-radius:    $radius;
    border-top-left-radius:         $radius;
    border-top-right-radius:        $radius;
}

@mixin border-radius-left($radius: $default-radius) {
    -webkit-border-top-left-radius:     $radius;
    -webkit-border-bottom-left-radius:  $radius;
    -moz-border-top-left-radius:        $radius;
    -moz-border-bottom-left-radius:     $radius;
    -ms-border-top-left-radius:         $radius;
    -ms-border-bottom-left-radius:      $radius;
    border-top-left-radius:             $radius;
    border-bottom-left-radius:          $radius;
}

@mixin border-radius-right($radius: $default-radius) {
    -webkit-border-top-right-radius:     $radius;
    -webkit-border-bottom-right-radius:  $radius;
    -moz-border-top-right-radius:        $radius;
    -moz-border-bottom-right-radius:     $radius;
    -ms-border-top-right-radius:         $radius;
    -ms-border-bottom-right-radius:      $radius;
    border-top-right-radius:             $radius;
    border-bottom-right-radius:          $radius;
}

@mixin border-radius-bottom($radius: $default-radius) {
    -webkit-border-bottom-left-radius:  $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-left-radius:     $radius;
    -moz-border-bottom-right-radius:    $radius;
    -ms-border-bottom-left-radius:      $radius;
    -ms-border-bottom-right-radius:     $radius;
    border-bottom-left-radius:          $radius;
    border-bottom-right-radius:         $radius;
}
