$white:     #FFF;
$black:     #000;
$disabled:  #CCC;

$default:   #5F5F5F;
$success:   #5CB85C;
$error:     #DC4A47;
$warn:      #F09E34;
$info:      #52B7D6;
$dark:      #525252;
$light:     #FAFAFA;

$default-border:    darken($default, 5);
$success-border:    darken($success, 5);
$error-border:      darken($error, 5);
$warn-border:       darken($warn, 5);
$info-border:       darken($info, 5);
$dark-border:       darken($dark, 5);
$light-border:      darken($light, 5);

$font-default: "Helvetica", "Arial", sans-serif;
$font-code: monospace;

$breakpoint-width: 800px;
$default-radius: 4px !default;
