.alert {
    display: block;
    padding: $padding-large;
    color: $default;
    border: 1px solid $light-active;
    background: $light;

    @include border-radius();
    @include bottom-margin();

    &.clean {
        color: $default;
        border: 2px solid $default;
        background: transparent;
    }
}

@each $state, $color-map in $-states-map {

    $color: map-get($color-map, 'text-color');
    $color-state: map-get($color-map, 'color-state');

    .alert.#{$state} {
        color: $color;
        border: 1px solid $color-state;
        background: lighten($color-state, 5);

        &.clean {
            color: darken($color-state, 5);
            border: 2px solid $default;
            background: transparent;
        }
    }
}
