body {
    font-family: $font-default;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    background-color: $white;
    color: $font-color;
    margin: 0;
}

.container, main {
    width: inherit;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 35px;
}

@media (max-width: $breakpoint-width) {
    .container, main {
        padding: 0 10px;
    }
}

.center {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    min-width: 400px;
}

@media (max-width: $breakpoint-width) {
    .center {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -ms-transform: none;
        transform: none;
        position: inherit;
        top: inherit;
        left: inherit;
    }
}

@media (max-width: $breakpoint-width) {
    .sidebar {
        display: none;
    }
}

.footer, footer {
    margin: 15px 0;
    padding: 5px 0;
}

.hidden {   display: none; }
.left {     float: left; }
.right {    float: right; }

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid $light-active;
}

table {
    border-spacing: 0;
    border-collapse: collapse;

    td, th {
        padding: 0;
    }
}

.dismiss {
    float: right;
    position: relative;
    right: 0;
    cursor: pointer;
}

.no-round {
    @include border-radius(0);
}

.no-margin {
    margin: 0 !important;
}

.no-border {
    border: none !important;
}

.border-thick {
    border: 2px solid !important;
}
