input {
    font: inherit; 
}

input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
textarea {
    min-width: 100px;
    margin: 0 5px 5px 0;
    padding: 6px 14px;
    font: inherit; 
    color: inherit;
    line-height: 1.42;
    vertical-align: middle;
    border: 1px solid darken($light, 5);
    background: $white;

    @include border-radius();
    @include inline-block();
}

input[type=submit] {
    border: none; 
}

textarea {
    min-height: 20px;
}

@each $state, $color-map in $-states-map {

    $color-state: map-get($color-map, 'color-state');

    input.#{$state} {
        border: 1px solid $color-state;
    }

}