input {
    font: inherit;
}

input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
textarea {
    width: 152px;
    padding: 5px 14px 5px 8px;
    font: inherit;
    color: inherit;
    border: 1px solid darken($light, 5);
    background: $white;

    @include no-default-appearance();
    @include border-radius();
    @include inline-block();
    @include bottom-margin();
}

input[type=submit] {
    border: none;
    @include no-default-appearance();
}

textarea {
    height: 60px;
    width: 176px;
    display: block;
}

@each $state, $color-map in $-states-map {
    $color-state: map-get($color-map, 'color-state');

    input.#{$state} {
        border: 1px solid $color-state;
    }
}

select {

    &.dropdown {
        width: 176px;
        height: 30px;

        font-size: $font-size;
        line-height: $line-height;
        color: $font-color;

        border: 1px solid darken($light, 5);
        overflow: hidden;
        background-color: white;

        @include border-radius(4px);
        @include standard-padding();
        @include border-radius(4px);
        @include bottom-margin();

        &:focus {
            outline: none;
        }
    }

}
