input {
    font: inherit;
}

input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
textarea {
    min-width: 100px;
    margin: 0 5px 5px 0;
    padding: 5px 14px 4px;
    font: inherit;
    color: inherit;
    border: 1px solid darken($light, 5);
    background: $white;

    @include no-default-appearance();
    @include border-radius();
    @include inline-block();
    @include bottom-margin();
}

input[type=submit] {
    border: none;
    @include no-default-appearance();
}

textarea {
    min-height: 60px;
    min-width: 150px;
}

@each $state, $color-map in $-states-map {

    $color-state: map-get($color-map, 'color-state');

    input.#{$state} {
        border: 1px solid $color-state;
    }

}

.input.dropdown {
    width: 100px;
    font-size: 14px;
    border: 1px solid darken($light, 5);
    overflow: hidden;
    background: $white url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;

    @include border-radius(4px);

    select {
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;


        @include standard-padding();
        @include no-default-appearance();

        &:focus {
            outline: none;
        }
    }
}
