@mixin navigation($theme: $light) {
	background: $theme;
	border: 1px solid darken($theme, 5);

	&.open {
		li {
			@include breakpoint(small) { display: block; }
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		position: relative;
		vertical-align: top;
		@include inline-block;
		@include breakpoint(small) { display: none; }

		> ul {
			background: $theme;		
			border: 1px solid darken($theme, 5);
		}
	}

	a {
		display: block;
		padding: 10px 20px;
		color: $default;
		white-space: nowrap;

		&:hover { background: darken($theme, 5); }

		&:hover,
		&:focus { color: $default; }
	}
}

@mixin dropdown() {
	> ul {
		display: none;
		position: absolute;
		min-width: 150px;
		z-index: 2;
		border-top: none;

		@include border-radius-bottom(4px);
		
		@include breakpoint(small) {
			position: relative;
			max-width: 100%;
		}
	}

	li {
		display: block;

		a {
			@include breakpoint(small) { padding-left: 40px; }
		}
	}

	&.open,
	&.open:hover {
		> ul {
			@include breakpoint(small) { display: block; }
		}
	}

	&:hover {
		> ul {
			display: block;
			@include breakpoint(small) { display: none; }
		}
	}

	.fa-angle-down { padding-left: 10px; }
}

.bar,
.pag {
	
	@include navigation;
	@include border-radius(4px);

	.collapse {
		display: none;
		@include breakpoint(small) { display: block; }
	}
}

.pag {
	width: auto;
	@include inline-block;
}

.nav.btn {
	@include navigation;

	position: relative;
	padding: 0;
	border: none;
	background: none;

	.btn { outline: 0; }

	&.dropdown {
		&:hover {
			> ul { display: none; }
		}

		&.open,
		&.open:hover {
			> ul { display: block; }
		}

		> ul {
			margin-top: -4px;
			background: $light;
			border: 1px solid darken($light, 5);
			@include border-radius-top(4px);
		}
		
		a { text-align: left; }
	}
}

.nav .dropdown,
.nav.dropdown { @include dropdown; }

.dark {
	@include navigation($dark);

	a {
		color: $white;

		&:hover,
		&:focus { color: $white; }
	}

	.dropdown {
		> ul {
			border-top: none;
		}
	}
}