.bar,
.pag,
.nav.btn,
.header.nav {
	background: $light;
	border: 1px solid darken($light, 5);

	@include border-radius(4px);
	@include clearfix();
}

.bar.open li,
.pag.open li,
.nav.btn.open li,
.header.nav.open li{ @media (max-width: $breakpoint-width) { display: block; } }

.bar .collapse,
.pag .collapse,
.nav.btn .collapse,
.header.nav .collapse {
	display: none;
	@media (max-width: $breakpoint-width) { display: block; }
}

.bar ul,
.pag ul,
.nav.btn ul,
.header.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;

	&.right {
		@media (max-width: $breakpoint-width) { float: none; }
	}
}

.bar li,
.pag li,
.nav.btn li,
.header.nav li {
	position: relative;
	vertical-align: top;
	float: left;

	@media (max-width: $breakpoint-width) {
		display: none;
		float: none;
	}

	&.right {
		float: right;
		@media (max-width: $breakpoint-width) { float: none; }
	}
}

.bar li > ul,
.pag li > ul,
.nav.btn li > ul,
.header.nav li > ul {
	background: $light;		
	border: 1px solid darken($light, 5);
}

.bar li li,
.pag li li,
.nav.btn li li,
.header.nav li li { float: none; }

.bar a,
.pag a,
.nav.btn a,
.header.nav a {
	display: block;
	padding: 10px 20px;
	color: $default;
	white-space: nowrap;

	&:hover { background: darken($light, 5); }

	&:hover,
	&:focus { color: $default; }
}

.pag {
	width: auto;
	@include inline-block;
}

.breadcrumbs {
	padding: 10px 20px;

	a {
		@include inline-block;
		padding: 0;
		color: $info;

		&:hover,
		&:focus {
			color: $info;
			background: none;
		}
	}
}

.nav.btn {
	position: relative;
	padding: 0;
	border: none;
	background: none;

	.btn { outline: 0; }

	li { float: none; }

	&.dropdown {
		&:hover {
			> ul { display: none; }
		}

		&.open,
		&.open:hover {
			> ul { display: block; }
		}

		> ul {
			margin-top: -4px;
			background: $light;
			border: 1px solid darken($light, 5);
			@include border-radius-top(4px);
		}
		
		a { text-align: left; }
	}
}

.nav.dropdown,
.bar .dropdown,
.header.nav .dropdown { 
	> ul {
		display: none;
		position: absolute;
		min-width: 150px;
		z-index: 2;
		border-top: none;

		@include border-radius-bottom(4px);
		
		@media (max-width: $breakpoint-width) {
			position: relative;
			max-width: 100%;
		}
	}

	li {
		display: block;

		a {
			@media (max-width: $breakpoint-width) { padding-left: 40px; }
		}
	}

	&.open,
	&.open:hover {
		> ul {
			@media (max-width: $breakpoint-width) {
				display: block;
				border-bottom: none;
			}
		}
	}

	&:hover {
		> ul {
			display: block;
			@media (max-width: $breakpoint-width) { display: none; }
		}
	}

	.fa-angle-down {
		padding-left: 10px;
		@media (max-width: $breakpoint-width) { float: right; }
	}
}

.dark {
	background: $dark;
	border: 1px solid darken($dark, 5);

	li {
		> ul {
			background: $dark;		
			border: 1px solid darken($dark, 5);
		}
	}

	a {
		color: $white;

		&:hover,
		&:focus { color: $white; }

		&:hover { background: darken($dark, 5); }
	}
}

.header {
	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 5;
	}

	.nav {
		
		background: $white;
		border: none;
		border-bottom: 1px solid darken($light, 5);

		@include border-radius(0);

		li {
			> ul {
				background: $white;		
				border: 1px solid darken($white, 5);
			}
		}

		a {
			&:hover { background: darken($white, 5); }
		}

		&.open li.logo {
			@media (max-width: $breakpoint-width) { display: none; }
		}
	}
}