@mixin navigation() {
	ul {
		margin: 0;
		list-style: none;

		li {
			float: left;
		}
	}
}

.nav {
	
	
}

.bar {
	background-color: $light;
	border: 1px solid #ededed;

	@include border-radius(4px);
}