.nav {
	background: $light;
	border: 1px solid darken($light, 5);

	@include border-radius(4px);
	@include clearfix();

	li {
		position: relative;
		vertical-align: top;
		float: left;

		li {
			float: none;
		}

		@media (max-width: $breakpoint-width) {
			display: none;
			float: none;
		}

		&.right {
			float: right;
			@media (max-width: $breakpoint-width) { float: none; }
		}

		> ul {
			background: $light;
			border: 1px solid darken($light, 5);
		}

	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		&.right {
			ul {
				right: 0;
			}

			@media (max-width: $breakpoint-width) {
				float: none;
			}
		}
	}

	a {
		display: block;
		padding: 10px 18px 8px;
		color: $default;
		white-space: nowrap;

		&:hover { background: darken($light, 5); }

		&:hover,
		&:focus { color: $default; }
	}

	.open li {
		@media (max-width: $breakpoint-width) {
			display: block;
		}
	}

	.collapse  {
		display: none;
		@media (max-width: $breakpoint-width) { display: block; }
	}

	&.btn {
		position: relative;
		padding: 0;
		border: none;
		background: none;

		&.dropdown {
			&.open {
				@media (max-width: $breakpoint-width) {
					@include inline-block;
				}

				> ul {
					display: block;

					@media (max-width: $breakpoint-width) {
						position: absolute;
					}
				}

				&:hover {
					> ul {
						display: block;
					}
				}
			}

			&:hover {
				> ul {
					display: none;
				}
			}

			> ul {
				margin-top: -4px;
				background: $light;
				border: 1px solid darken($light, 5);
				@include border-radius-top(4px);

				&.no-round {
					@include border-radius(0);
				}
			}

			a {
				text-align: left;
			}
		}

		.btn {
			outline: none;
		}

		li {
			float: none;

			li {
				float: none;
			}
		}
	}

	&.dropdown > ul,
	.dropdown > ul {
		display: none;
		position: absolute;
		min-width: 150px;
		z-index: 2;
		border-top: none;

		@include border-radius-bottom(4px);

		@media (max-width: $breakpoint-width) {
			position: relative;
			max-width: 100%;
		}
	}

	&.dropdown li,
	.dropdown li {
		display: block;

		/*
		a {
			@media (max-width: $breakpoint-width) {
				padding-left: 40px;
			}
		}
		*/
	}

	&.dropdown.open,
	.dropdown.open,
	&.dropdown.open:hover > ul,
	.dropdown.open:hover > ul {
		@media (max-width: $breakpoint-width) {
			display: block;
			border-bottom: none;
		}
	}

	&.dropdown:hover > ul,
	.dropdown:hover > ul {
		display: block;
		@media (max-width: $breakpoint-width) {
			display: none;
		}
	}

	&.dropdown,
	.dropdown {
		.fa-angle-down {
			padding-left: 10px;

			@media (max-width: $breakpoint-width) {
				float: right;
			}
		}
	}

	&.no-round {
	    @include border-radius(4px);
	}

	input[type=text],
	input[type=email],
	input[type=password],
	input[type=search],
	input[type=url] {
	    margin: 2px;
	    padding: 0 15px;
	    height: 33px;

	    @media (max-width: $breakpoint-width) {
	        margin: 5px 20px;
	        height: 35px;
	    }
	}
}

.pag {
	@include inline-block;

	li {
		@media (max-width: $breakpoint-width) {
			@include inline-block;
		}
	}
}

.breadcrumbs {
	padding: 10px 20px;

	a {
		padding: 0;
		color: $info;

		&:hover,
		&:focus {
			color: $info;
			background: none;
		}

		@include inline-block;
	}
}

.dark {
	background: $dark;
	border: 1px solid darken($dark, 5);

	li > ul {
		background: $dark;
		border: 1px solid darken($dark, 5);
	}

	a {
		color: $white;

		&:hover,
		&:focus { color: $white; }
		&:hover { background: darken($dark, 5); }
	}
}

.header {
	.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 5;
	}

	.nav {
		background: $white;
		border: none;
		border-bottom: 1px solid darken($light, 5);

		@include border-radius(0);

		li > ul {
			background: $white;
			border: 1px solid darken($white, 5);
		}

		li {
			a {
				&:hover {
					background: darken($white, 5);
				}
			}

			&.open {
				li {
					&.logo {
						@media (max-width: $breakpoint-width) {
							display: none;
							visibility: hidden;
						}
					}
				}
			}
		}
	}
}
