.nav {
	background: $light;
	@include clearfix();

	.container {
		width: inherit;
		margin: 0 auto;
		padding: 0 35px;

		@media (max-width: $breakpoint-width) {padding: 0;}
	}

	li {
		position: relative;
		vertical-align: top;
		float: left;

		li {
			float: none;
		}

		@media (max-width: $breakpoint-width) {
			display: none;
			float: none;
		}

		&.right {
			float: right;

			@media (max-width: $breakpoint-width) {
				float: none;
			}
		}

		> ul, > ol {
			background: $light;
			border: 1px solid $light-active;
		}

	}

	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;

		&.right {
			ul, ol {
				right: 0;
			}

			@media (max-width: $breakpoint-width) {
				float: none;
			}
		}
	}

	a {
		display: block;
		padding: 10px 18px;
		color: $default;
		cursor: pointer !important;
		white-space: nowrap;

		.fa {
			font-size: 16px;
		}

		&:hover { background: $light-active; }
		&:hover,
		&:focus { color: $default; }
	}

	&.thick {
		a {
			padding: 13px 18px !important;
		}

		.brand {
			@media (max-width: $breakpoint-width) {
				visibility: hidden;
		        display: none;
		        height: 0px !important;
			}

			a {
				font-size: 18px;
				padding: 9px 24px 0 !important;

				&:hover {
					background: inherit !important;
				}
			}
		}

		input[type=text],
		input[type=email],
		input[type=password],
		input[type=search],
		input[type=url] {
			border: none;
			margin: 2px 0;
		    padding: 0 15px;
		    height: 42px;
		    @include border-radius(0);

		    @media (max-width: $breakpoint-width) {
		        margin: 8px 18px;
	        	height: 35px;
		    }
		}
	}

	.brand {
		a {
			font-size: 16px;
			padding: 7px 18px 0 !important;

			&:hover {
				background: inherit !important;
			}
		}

		@media (max-width: $breakpoint-width) {
			visibility: hidden;
		    display: none;
		    height: 0px !important;
		}
	}

	input[type=text],
	input[type=email],
	input[type=password],
	input[type=search],
	input[type=url] {
		border: none;
		margin: 2px 0;
	    padding: 0 15px;
	    height: 37px;
	    @include border-radius(0);

	    @media (max-width: $breakpoint-width) {
	        margin: 8px 18px;
	        height: 35px;
	    }
	}

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		border-bottom: 1px solid $grey;
	}

	.open li {
		@media (max-width: $breakpoint-width) {
			display: block;
		}
	}

	.collapse  {
		display: none;
		@media (max-width: $breakpoint-width) { display: block; }
	}

	&.btn {
		font-weight: 400;
		position: relative;
		padding: 0;
		border: none;
		background: none;

		&.dropdown {
			&.open {
				@media (max-width: $breakpoint-width) {
					@include inline-block;
				}

				> ul, > ol {
					display: block;

					@media (max-width: $breakpoint-width) {
						position: absolute;
					}
				}

				&:hover {
					> ul, > ol {
						display: block;
					}
				}
			}

			&:hover {
				> ul, > ol {
					display: none;
				}
			}

			> ul, > ol {
				margin-top: -4px;
				background: $light;
				border: 1px solid $light-active;
				@include border-radius-top(4px);

				&.no-round {
					@include border-radius(0);
				}
			}

			a {
				text-align: left;
			}
		}

		.btn {
			outline: none;
		}

		li {
			float: none;

			li {
				float: none;
			}
		}
	}

	&.dropdown, .dropdown {
		.fa-angle-down {
			padding-left: 10px;

			@media (max-width: $breakpoint-width) {
				float: right;
			}
		}

		> ul, > ol {
			display: none;
			position: absolute;
			min-width: 150px;
			z-index: 2;
			border-top: none;

			@include border-radius-bottom(4px);

			@media (max-width: $breakpoint-width) {
				position: relative;
				max-width: 100%;
			}
		}

		li {
			display: block;
		}

		&.open, &.open:hover > ul, &.open:hover > ol {
			@media (max-width: $breakpoint-width) {
				display: block;
				border-bottom: none;
			}
		}

		&:hover > ul, &:hover > ol {
			display: block;
			@media (max-width: $breakpoint-width) {
				display: none;
			}
		}
	}
}

.pag {
	@include inline-block;

	li {
		@media (max-width: $breakpoint-width) {
			@include inline-block;
		}
	}
}

.breadcrumbs {
	background: $light;
	padding: 10px 16px;

	@include border-radius();
	@include bottom-margin();

	ul, ol {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			padding: 0;
			color: darken($grey, 25);
			@include inline-block();

			a {
				color: $link;

				&:active {
					color: $link;
				}
			}

			&.active {
				color: darken($grey, 25);
				cursor: not-allowed;
			}

			&:after {
				$nbsp: "\00a0";
				$separator: "/";
				content: "#{$nbsp}#{$separator}";

				padding: 0 5px;
				color: $disabled;
			}

			&:last-child::after{
				content: "";
				padding: 0;
			}
		}
	}
}

.dark {
	background: $dark;
	border: 1px solid $dark-active;

	li > ul, li > ol {
		background: $dark;
		border: 1px solid $dark-active;
	}

	a {
		color: $white;

		&:hover,
		&:focus { color: $white; }
		&:hover { background: $dark-active; }
	}
}

.header {
	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 5;
	}

	.nav {
		background: $white;
		border: none;
		border-bottom: 1px solid $light-active;

		@include border-radius(0);

		li > ul, li > ol {
			background: $white;
			border: 1px solid $white-active;
		}

		li {
			a {
				&:hover {
					background: $white-active;
				}
			}

			&.open {
				li {
					&.logo {
						@media (max-width: $breakpoint-width) {
							display: none;
							visibility: hidden;
						}
					}
				}
			}
		}
	}
}
