.panel {
    border: 1px solid $light-active;
    overflow: hidden;

    @include border-radius();
    @include bottom-margin();

    .panel-head {
        padding: 10px 20px 9px;
        border-bottom: 1px solid darken($light-active, 3);
        background: $light-dark;
        font-weight: bold;
        color: $font-color;
    }

    .panel-body {
        padding: 15px 20px 14px;
        background: $white;
    }

    p {
        margin: 0;
    }
}



@each $state, $color-map in $-states-map {

    $color: map-get($color-map, "text-color");
    $color-state: map-get($color-map, "color-state");

    .panel.#{$state} {
        border: 1px solid darken($color-state, 5);

        .panel-head {
            color: $white;
            background: $color-state;
            border-bottom: 1px solid darken($color-state, 5);
        }
    }

}
