.progress {
    width: 100%;
    height: 20px;
    background-color: $white;
    border: 1px solid $light-active;
    display: block;
    overflow: hidden;

    @include border-radius();
    @include bottom-margin();

    .progress-bar {
        text-align: center;
        height: 20px;
        color: $default;
        background-color: $default;

        #progress {
            position: relative;
            top: 1px;
        }
    }

    &.clean {
        border: 2px solid $default !important;
    }
}

@each $state, $color-map in $-states-map {

    $color: map-get($color-map, 'text-color');
    $color-state: map-get($color-map, 'color-state');

    .progress.#{$state} {
        border: 1px solid darken($color-state, 5);

        .progress-bar {
            color: $color;
            background-color: $color-state;
        }

        &.clean {
            border: 2px solid $color-state !important;
        }
    }
}
