.table {
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;

    @include border-radius();
    @include bottom-margin();

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                vertical-align: top;
                padding: 8px;
            }
        }
    }

    tr {
        border-bottom: 1px solid lightgrey;

        th {
            vertical-align: bottom;
            margin-bottom: 0;
            border-bottom: 2px solid lightgrey;
        }

        td {
            vertical-align: top;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &.invert {
        tr {
            &:nth-child(even) {
                background-color: #F7F7F7;
            }
        }
    }

    td, th {
        &:first-of-type {
            padding-left: 16px;
        }

        &:last-of-type {
            padding-right: 16px;
        }
    }

    .align-left     {text-align: left;}
    .align-mid      {text-align: center;}
    .align-right    {text-align: right;}
}

th {
    text-align: left;
}
