// Header Text
h1 {font-size: 68px; font-weight: 300; margin: 16px 0;}
h2 {font-size: 50px; font-weight: 300; margin: 16px 0;}
h3 {font-size: 40px; font-weight: 300; margin: 14px 0;}
h4 {font-size: 30px; font-weight: 400; margin: 8px 0;}
h5 {font-size: 25px; font-weight: 400; margin: 6px 0;}
h6 {font-size: 18px; font-weight: 500; margin: 4px 0;}

h1.title,h2.title,h3.title,h4.title,h5.title,h6.title {
  @include bottom-margin();
  border-bottom: 1px solid $grey;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
       color: $link-active;
       text-decoration: none;
    }
}

blockquote {
    border-left: 4px solid $grey;
    padding: 2px 10px;
    font-weight: 300;
    font-size: 16px;
    margin: 10px 0;
}

.disabled {
    color: $disabled;
    cursor: not-allowed;
}

.color.success,
[color=success] {
    color: $success;

    &:hover, &:active {
        color: $success;
    }
}

.color.error,
[color=error] {
    color: $error;

    &:hover, &:active {
        color: $error;
    }
}

.color.info,
[color=info] {
    color: $info;

    &:hover, &:active {
        color: $info;
    }
}

.color.warn,
[color=warn] {
    color: $warn;

    &:hover, &:active {
        color: $warn;
    }
}

.color.dark,
[color=dark] {
    color: $dark;

    &:hover, &:active {
        color: $dark;
    }
}

.color.light,
[color=light] {
    color: $light;

    &:hover, &:active {
        color: $light;
    }
}

b, strong {
    font-weight: bold;
}

mark {
    padding: 2px;
    color: black;
    background-color: yellow;
}

code {
    padding: 1px 8px 2px;
    font-family: $font-code;
    background-color: $light;

    @include inline-block();
    @include border-radius();
}

pre {
    overflow: scroll;
    border: 1px solid $light-active;
    background-color: $light;
    font-family: $font-code;
    padding: $padding-medium;

    @include bottom-margin();
    @include border-radius();
}

pre::-webkit-scrollbar {
    display: none;
}

em, .italic {
    font-style: italic;
}

p {
    @include bottom-margin();
}

.sml, small {
    font-size: 80%;
}

s, .strike, .strikethrough {
    text-decoration: line-through;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
