@charset "UTF-8";

/*  Framework by Caramel.ga
    License: CC-NC 3.0-AU */

@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600";
@import "http://fonts.googleapis.com/css?family=Anonymous+Pro";

$disabled:  #CCCCCC;
$default:   #5F5F5F;
$success:   #5CB85C;
$error:     #D9534F;
$warn:      #F0AD4E;
$info:      #52B7D6;
$dark:      #525252;
$light:     #FAFAFA;

$font-default:  "Open Sans", sans-serif;
$font-code:     "Anonymous Pro", Monospace;

$width:     800px;
$radius:    4px;

@mixin border-radius {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@import "includes/_base";
@import "includes/_alert";
@import "includes/_button";
@import "includes/_form";
@import "includes/_grid.scss";
@import "includes/_image.scss";
@import "includes/_navigation.scss";
@import "includes/_text.scss";