/*  Framework by Caramel.ga - License: CC-NC 3.0-AU */

@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600";
@import "http://fonts.googleapis.com/css?family=Anonymous+Pro";

$disabled:  #CCCCCC;
$default:   #5F5F5F;
$success:   #5CB85C;
$error:     #D9534F;
$warn:      #F0AD4E;
$info:      #52B7D6;
$dark:      #525252;
$light:     #FAFAFA;

$font-default:  "Open Sans", sans-serif;
$font-code:     "Anonymous Pro", Monospace;

$width:     800px;
$radius:    4px;

@mixin border-radius {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin margin-bottom {
    margin-bottom: 5px;
}

@mixin border-radius-top($input) {
    -webkit-border-top-left-radius: $input;
    -webkit-border-top-right-radius:$input;
    -moz-border-top-left-radius:    $input;
    -moz-border-top-right-radius:   $input;
    -ms-border-top-left-radius:     $input;
    -ms-border-top-right-radius:    $input;
    border-top-left-radius:         $input;
    border-top-right-radius:        $input;
}

@mixin border-radius-bottom($input) {
    -webkit-border-bottom-left-radius:  $input;
    -webkit-border-bottom-right-radius: $input;
    -moz-border-bottom-left-radius:     $input;
    -moz-border-bottom-right-radius:    $input;
    -ms-border-bottom-left-radius:      $input;
    -ms-border-bottom-right-radius:     $input;
    border-bottom-left-radius:          $input;
    border-bottom-right-radius:         $input;
}

@import "includes/_base";
@import "includes/_alert";
@import "includes/_button";
@import "includes/_form";
@import "includes/_grid.scss";
@import "includes/_image.scss";
@import "includes/_label.scss";
@import "includes/_navigation.scss";
@import "includes/_notice.scss";
@import "includes/_panel.scss";
@import "includes/_progress.scss";
@import "includes/_text.scss";