notice,
.notice {
    display: block;
    padding: $padding-large;
    font-size: 16px;

    border: 1px solid $light-active;
    border-left-width: 5px;
    border-left-color: $default;
    background-color: $white;

    @include border-radius();
    @include bottom-margin();

    b,
    strong,
    h4 {
        color: $default;
        margin: 0;
    }

    .dismiss {
        font-size: 22px;
    }

    @each $state, $color-map in $-states-map {
        $color-state: map-get($color-map, "color-state");

        &.#{$state} {
            border-left-color: $color-state;

            b,
            strong,
            h4 {
                color: darken($color-state, 5);
            }
        }
    }
}
