.label {
    width: auto;
    padding: $padding-small;
    color: $white;
    font-size: 80%;
    background-color: $default-active;

    @include border-radius();
    @include inline-block();
}

@each $state, $color-map in $-states-map {

    $color-state: map-get($color-map, "color-state");

    .label.#{$state} {
        background-color: $color-state;
    }

}
