/*  Framework by Caramel.ga - License: CC-NC 3.0-AU */
#example .box {
  background-color: #EEE;
  text-align: center;
  border-radius: 2px; }

.header {
  margin: 15px 0;
  text-align: center; }
  .header h1 {
    margin-top: 0; }

.fa.fa-heart-o {
  /*color:#D9534F; */ }

.fa.fa-code {
  /*color:#6EC06E; */
  font-size: 16px; }
