/*  Framework by Caramel.ga - License: CC-NC 3.0-AU */

#example .box {
	background-color: #EEE;
	text-align: center;
	border-radius: 2px;
}

.header .logo a {
	padding: 5px 20px 0;
	&:hover { background: none; }
}

.main .header {
	margin: 80px 0;
	text-align: center;

	h1 { margin-top: 0; }
}

.fa.fa-heart-o { 
    /*color:#D9534F; */
}

.fa.fa-code {
	/*color:#6EC06E; */
	font-size:16px;
}