.label {
    width: auto;
    padding: $padding-button-small;
    color: $white;
    font-size: 80%;
    background-color: darken($default, 5);

    @include border-radius();
    @include inline-block();

    @each $state, $color-map in $-states-map {
        $color-state: map-get($color-map, "color-state");

        &.#{$state} {
            background-color: $color-state;
        }
    }
}
