label,
.label
    padding: $padding-chip
    font-size: 12px
    text-align: center
    white-space: nowrap
    vertical-align: baseline
    background-color: $dark
    color: $white

    @include border-radius()
    @include inline-block()

    @each $state, $color-map in $-states-map
        $color-state: map-get($color-map, "color-state")

        &.#{$state}
            background-color: $color-state
