.btn,
button,
*[type=button],
*[type=submit] {
    font: inherit;
    text-align: center;
    padding: 6px 16px;
    margin-bottom: 5px;
    color: $default;
    border: 1px solid $light-active;
    background: $light;
    cursor: pointer;

    @include no-default-appearance();
    @include border-radius();
    @include inline-block();

    &.sml {
        font-size: 12px;
        padding: 4px 9px 3px;
    }

    &:hover,
    &:active {
        color: $default;
        border: 1px solid $light-active;
        background: darken($light, 1);
    }

    &.clean {
        color: $light;
        border: 2px solid $light;
        background: transparent;

        &:hover,
        &:active {
            color: $default;
            border: 2px solid darken($light-active, 2);
            background: darken($light, 1);
        }

        @each $state, $color-map in $-states-map {
            $color: map-get($color-map, "text-color");
            $color-state: map-get($color-map, "color-state");

            &.#{$state} {
                color: darken($color-state, 5);
                border: 2px solid $color-state;
                background: transparent;

                &:hover,
                &:active {
                    color: $white;
                    border: 2px solid $color-state;
                    background: $color-state;
                }
            }
        }
    }

    @each $state, $color-map in $-states-map {
        $color: map-get($color-map, "text-color");
        $color-state: map-get($color-map, "color-state");

        &.#{$state} {
            color: $color;
            border: 1px solid darken($color-state, 5);
            background: $color-state;

            &:hover,
            &:active {
                border: 1px solid darken($color-state, 5);
                background: lighten($color-state, 5);
            }
        }
    }
}

.dropdown {
    cursor: pointer;
}
