/*  Framework by Caramel.ga - License: CC-NC 3.0-AU */

@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600";
@import "http://fonts.googleapis.com/css?family=Anonymous+Pro";

$white:     #fff;
$black:     #000;
$disabled:  #CCC;
$default:   #5F5F5F;
$success:   #5CB85C;
$error:     #D9534F;
$warn:      #F0AD4E;
$info:      #52B7D6;
$dark:      #525252;
$light:     #FAFAFA;

$open-sans: "Open Sans", sans-serif;
$anonymous-pro: "Anonymous Pro", Monospace;

$font-default: $open-sans;
$font-code: $anonymous-pro;

$breakpoint-width: 800px;
$default-radius: 4px !default;

$-states-map:(
    success: (color-state: $success, text-color: $white),
    error: (color-state: $error, text-color: $white),
    warn: (color-state: $warn, text-color: $white),
    info: (color-state: $info, text-color: $white),
    dark: (color-state: $dark, text-color: $white)
);

@mixin inline-block() {
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

@mixin border-radius($radius: $default-radius) {

  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;

}

@mixin border-radius-top($radius: $default-radius) {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius:$radius;
    -moz-border-top-left-radius:    $radius;
    -moz-border-top-right-radius:   $radius;
    -ms-border-top-left-radius:     $radius;
    -ms-border-top-right-radius:    $radius;
    border-top-left-radius:         $radius;
    border-top-right-radius:        $radius;
}

@mixin border-radius-bottom($radius: $default-radius) {
    -webkit-border-bottom-left-radius:  $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-left-radius:     $radius;
    -moz-border-bottom-right-radius:    $radius;
    -ms-border-bottom-left-radius:      $radius;
    -ms-border-bottom-right-radius:     $radius;
    border-bottom-left-radius:          $radius;
    border-bottom-right-radius:         $radius;
}

@import "includes/_base";
@import "includes/_alert";
@import "includes/_button";
@import "includes/_form";
@import "includes/_grid.scss";
@import "includes/_image.scss";
@import "includes/_label.scss";
@import "includes/_navigation.scss";
@import "includes/_notice.scss";
@import "includes/_panel.scss";
@import "includes/_progress.scss";
@import "includes/_text.scss";